<button class="number-button" @onclick="OnClick">@Text</button>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback<string> OnNumberClick { get; set; }

    private async Task OnClick()
    {
        await OnNumberClick.InvokeAsync(Text);
    }
}